.modal-text {
  width: 253px;
}
.object-fit-cover {
  object-fit: cover;
}

.fix-start {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.absolute-start {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}