<button type="button" class="btn btn-link fs-5 fw-bold text-dark logo-link text-decoration-none" data-bs-toggle="modal"
  data-bs-target="#new">
  <span class="material-icons text-primary me-2 fs-3">
    add
  </span>
  Add New Admin
</button>
<!-- modal 詳細資料 -->
<div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header p-x8">
        <h2 class="modal-title fs-4 fw-bold">Edit Admin</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-0">
        <!-- 編輯表單內容 -->
        <form action="submit">
          <ul class="list-unstyled">
            <!-- Account -->
            <li class="pb-4 border-bottom border-gray-400 mb-4">
              <h3 class="fs-5 fw-bold mb-3">Account</h3>
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" class="form-control mb-3 py-3" aria-describedby="name">
              <label for="mail" class="form-label">Email</label>
              <input type="email" id="mail" class="form-control py-3" aria-describedby="name">
            </li>
            <!-- 認證信箱 -->
            <li class="pb-4 border-bottom border-gray-400 mb-4">
              <h3 class="fs-5 fw-bold mb-3">Verification</h3>
              <div class="d-flex align-items-center justify-content-between me-2 list-unstyled  mb-3 ">
                <div class="d-flex fw-bold">
                  <span class="material-icons text-danger me-2">
                    warning
                  </span>
                  Unverified
                </div>
                <small class="d-none">2020/4/12</small>
              </div>
              <button type="button" class="btn btn-outline-secondary text-primary w-100 fw-bold fs-6 py-2">Send
                Verification Mail
              </button>
            </li>
            <li class="pb-4 border-bottom border-gray-400 mb-4">
              <!-- 存取權限等級 -->
              <h3 class="fs-5 fw-bold mb-3">Access Level</h3>
              <select class="form-select p-3" id="inputGroupSelect01">
                <option value="0" selected>-Choose access level-</option>
                <option value="1">Admin</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </li>
            <li>
              <h3 class="fs-5 fw-bold mb-3">Custom Access</h3>
              <div class="form-check mb-x5">
                <input class="form-check-input" type="checkbox" value="lecture" id="lecture">
                <label class="form-check-label" for="lecture">
                  Lecture
                </label>
              </div>
              <div class="form-check mb-x5">
                <input class="form-check-input" type="checkbox" value="coupon" id="coupon">
                <label class="form-check-label" for="coupon">
                  Coupon
                </label>
              </div>
              <div class="form-check mb-x5">
                <input class="form-check-input" type="checkbox" value="message" id="message">
                <label class="form-check-label" for="message">
                  Message
                </label>
              </div>
              <div class="form-check mb-x5">
                <input class="form-check-input" type="checkbox" value="setting" id="setting">
                <label class="form-check-label" for="setting">
                  Setting
                </label>
              </div>
              <div class="form-check mb-x5">
                <input class="form-check-input" type="checkbox" value="taskMenu" id="taskMenu">
                <label class="form-check-label" for="taskMenu">
                  Task Menu
                </label>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer py-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>